.form-inline .form-control {
  min-width: 190px;
}

@media (min-width: 576px){
.form-inline .form-control {
  width: 500px;
}
}

.navbar-brand {
  margin-right: 5rem;
}

p {
  margin-bottom: 0.30rem;
}

.btn-outline-success {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-success:hover {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.navbar {
  padding: 1.2rem 2rem;
}

@font-face {
  font-family: Azkia;
  src: url("../fonts/Azkia.otf");
}

.card {
  float: left;
  border: none;
  margin-right: 60px;
  height: 430px;
  width: 100%;
}

@media screen and (max-width: 340px) {
  .card {
  float: left;
  border: none;
  margin-right: 0px;
  height: 630px;
  width: 340px!important;
 }
}

@media screen and (max-width: 540px) {
  .card {
  float: left;
  border: none;
  margin-left: 20px;
 }
}

.card-text {
  font-family: Azkia;
  font-size: 2.50rem;
  margin-left: 60px;
}

.card-body {
  padding: 0;
}

.card-img-top {
  height: 240px;
}

.cardTurismo {
  background-image: url(../imagens/mercadoBW.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.cardTurismo:hover {
  background-image: url(../imagens/mercado2.jpg);
  background-size: 102%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.cardLazer {
  background-image: url(../imagens/shoppingpelBW.jpg);
  background-size: 101%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.cardLazer:hover {
  background-image: url(../imagens/shoppingpel2.jpg);
  background-size: 107%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.card-text-lazer {
  font-family: Azkia;
  font-size: 2.50rem;
  margin-left: 125px;
}

.cardRestaurantes {
  background-image: url(../imagens/joaoGilBW.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.cardRestaurantes:hover {
  background-image: url(../imagens/joaoGil2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.container {
  margin: 100px auto;
  padding-left: 0px;
  padding-right: 0px;
  height: 275px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    height: 830px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    height: 830px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    height: 830px;
  }
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #343a40!important;
  position: absolute;
  margin-top: 150px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 0px;
    height: 50px;
  }
}

.inside-logo {
  margin: 10px 20px 0px 0px;
  height: 50%;
  width: 8%;
  float: right;
}

@media screen and (max-width: 320px) {
  .inside-logo {
    width: 30%;
  }
}

@media screen and (max-width: 340px) {
  .inside-logo {
    width: 30%;
  }
}

@media screen and (max-width: 540px) {
  .inside-logo {
    width: 30%;
  }
}

.fb-logo {
  background-image: url(../imagens/fb-logo-bw.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 15%;
  float: left;
  margin: 0px 20px 0px 0px;
}

.fb-logo:hover {
  background-image: url(../imagens/fb-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 15%;
  float: left;
  margin: 0px 20px 0px 0px;
}

.tw-logo {
  background-image: url(../imagens/tw-logo-bw.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 15%;
  float: left;
  margin: 0px 20px 0px 0px;
}

.tw-logo:hover {
  background-image: url(../imagens/tw-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 15%;
  float: left;
  margin: 0px 20px 0px 0px;
}

.gmail-logo {
  background-image: url(../imagens/gmail-logo-bw.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 20%;
  float: left;
}

.gmail-logo:hover {
  background-image: url(../imagens/gmail-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 20%;
  float: left;
}

.footer-text-title {
  text-align: left;
  margin: 10px 0px 0px 15px;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  .footer-text-title {
    margin: 7px 0px 0px 15px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 340px) {
  .footer-text-title {
    margin: 7px 0px 0px 15px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 540px) {
  .footer-text-title {
    margin: 7px 0px 0px 15px;
    font-size: 1.0rem;
  }
}

.text-center {
  min-height: 150px;
  max-height: 350px;
  max-width: 600px;
  min-width: 275px;
  margin: 250px auto 250px auto;
}

@media screen and (max-width: 320px) {
  .text-center {
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
  }
}

@media screen and (max-width: 340px) {
  .text-center {
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
  }
}

@media screen and (max-width: 540px) {
  .text-center {
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
  }
}

.intro {
  min-height: 150px;
  max-height: 350px;
  max-width: 600px;
  min-width: 275px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.70rem;
}

@media screen and (max-width: 320px) {
  .intro {
    font-size: 1.0rem;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 340px) {
  .intro {
    font-size: 1.0rem;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    font-size: 1.0rem;
    width: 150px;
    height: 150px;
  }
}

.about {
  height: 700px;
  width: 1000px;
  margin: 200px auto 100px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .about {
    height: 715px;
    width: 250px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 340px) {
  .about {
    height: 715px;
    width: 250px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 540px) {
  .about {
    height: 715px;
    width: 250px;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.about-page {
  height: 700px;
  width: 1000px;
  font-size: 2.0rem;
  font-family: sans-serif;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .about-page {
    height: 715px;
    width: 250px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 340px) {
  .about-page {
    height: 715px;
    width: 250px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 540px) {
  .about-page {
    height: 715px;
    width: 250px;
    font-size: 1.0rem;
  }
}

.about-say {
  font-size: 1.0rem;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .about-say {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 340px) {
  .about-say {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 540px) {
  .about-say {
    font-size: 0.5rem;
  }
}

.pontos-turisticos {
  width: 1524px;
  height: 2350px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .pontos-turisticos {
    height: 9400px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .pontos-turisticos {
    height: 9400px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .pontos-turisticos {
    height: 9400px;
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 540px) {
  .pontos-turisticos {
    width: 100%;
  }
}

#card-turismo {
  float: left;
  border: 1px solid #E0E0E0;
}

@media screen and (max-width: 320px) {
  #card-turismo {
    width: 20rem!important;
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  #card-turismo {
    width: 20rem!important;
    margin-left: 70px;
  }
}

@media screen and (min-width: 375px) and (max-width: 530px) {
  #card-turismo {
    margin: 0px 0px 0px 20px;
  }
}

#card-text-turismo {
  font-family: sans-serif;
  font-size: 1.0rem;
  text-align: left;
  margin-left: 5px;
}

.card-title {
  margin-left: 20px;
  margin-top: 5px;
}

.bg-video {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .bg-video {
    height: 300px
  }
}

@media screen and (max-width: 340px) {
  .bg-video {
    height: 300px;
  }
}

@media screen and (max-width: 540px) {
  .bg-video {
    height: 300px;
  }
}

.header {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .header {
    height: 300px;
  }
}

@media screen and (max-width: 340px) {
  .header {
    height: 300px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 300px;
  }
}

.restaurantes-bares {
  width: 1524px;
  height: 2350px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .restaurantes-bares {
    height: 9400px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .restaurantes-bares {
    height: 9400px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .restaurantes-bares {
    height: 9400px;
    width: 100%;
  }
}

.cinemas {
  width: 1500px;
  height: 660px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .cinemas {
    height: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .cinemas {
    height: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .cinemas {
    height: 1000px;
    width: 100%;
  }
}

.card-img-top-cineflix {
  height: 470px;
}

@media screen and (max-width: 320px) {
  .card-img-top-cineflix {
    height: 240px;
  }
}

@media screen and (max-width: 340px) {
  .card-img-top-cineflix {
    height: 240px;
  }
}

@media screen and (max-width: 540px) {
  .card-img-top-cineflix {
    height: 240px;
  }
}

.card-img-top-cineart {
  height: 470px;
}

@media screen and (max-width: 320px) {
  .card-img-top-cineart {
    height: 240px;
  }
}

@media screen and (max-width: 340px) {
  .card-img-top-cineart {
    height: 240px;
  }
}

@media screen and (max-width: 540px) {
  .card-img-top-cineart {
    height: 240px;
  }
}

#card-cinema {
  border: 1px solid #E0E0E0;
  height: 660px;
}

@media screen and (max-width: 320px) {
  #card-cinema {
    width: 320px!important;
    height: 450px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 340px) {
  #card-cinema {
    width: 340px!important;
    height: 450px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 540px) {
  #card-cinema {
    width: 340px!important;
    height: 450px;
    margin-top: 50px;
  }
}

.pizzarias {
  width: 1524px;
  height: 1390px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .pizzarias {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .pizzarias {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .pizzarias {
    height: 5560px;
    width: 100%;
  }
}

.bares {
  width: 1524px;
  height: 1390px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .bares {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .bares {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .bares {
    height: 5560px;
    width: 100%;
  }
}

.lancherias {
  width: 1524px;
  height: 1390px;
  margin: 50px auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .lancherias {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .lancherias {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .lancherias {
    height: 5560px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  iframe {
    width: 485px;
  }
<<<<<<< HEAD
}
=======
}

@media screen and (min-width: 375px) and (max-width: 530px) {
  iframe {
    width: 323px;
  }
}





>>>>>>> ec4a6cdb27944e105ebe37dfdfe6ba4c66db3271
